<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.advert.dao.gggl.zzzy.extend.ZzzyExtInfoExtendMapper" >
  <resultMap id="BaseResultMap" type="com.pope.advert.entity.gggl.zzzy.extend.ZzzyExtInfoExtend" 
  extends="com.pope.advert.dao.gggl.zzzy.ZzzyExtInfoMapper.BaseResultMap">
  </resultMap>
  <sql id="Base_Column_List" >
    t_advert_gggl_zzzy_ext.WID, t_advert_gggl_zzzy_ext.BCSM, 
    t_advert_gggl_zzzy_ext.GGDLFS, 
    t_advert_gggl_zzzy_ext.DLZSLJ, 
    t_advert_gggl_zzzy_ext.SCTULJ, t_advert_gggl_zzzy_ext.DSZY_ID, 
    t_advert_gggl_zzzy_ext.SFXZHY, 
    t_advert_gggl_zzzy_ext.HY
  </sql>
  <sql id="sqlWhere">
		<if test='query!=null'>
			<if test='query.wid!=null and query.wid!=""'>
				AND t_advert_gggl_zzzy_ext.WID=#{query.wid,jdbcType=VARCHAR}
			</if>
			<if test='query.dszyId!=null and query.dszyId!=""'>
				AND t_advert_gggl_zzzy_ext.DSZY_ID=#{query.dszyId,jdbcType=VARCHAR}
			</if>
		</if>
	</sql>
	<select id="selectByCondition" resultMap="BaseResultMap"
		parameterType="com.pope.advert.entity.dto.QueryCondition">
		select
		<include refid="Base_Column_List" />
		from t_advert_gggl_zzzy_ext
		<where>
			<include refid="sqlWhere" />
		</where>
	</select>
	<select id="selectDisplayByCondition" resultMap="BaseResultMap"
		parameterType="com.pope.advert.entity.dto.QueryCondition">
		select
		<include refid="Base_Column_List" />
		,T_ADVERT_SJZD_GGDLFS.lbmc as ggdlfsDisplay
		,t_advert_sjzd_sf.lbmc as sfxzhyDisplay
		from t_advert_gggl_zzzy_ext
		LEFT JOIN T_ADVERT_SJZD_GGDLFS ON T_ADVERT_SJZD_GGDLFS.LBDM=t_advert_gggl_zzzy_ext.ggdlfs
		LEFT JOIN t_advert_sjzd_sf ON t_advert_sjzd_sf.LBDM=t_advert_gggl_zzzy_ext.sfxzhy
		<where>
			<include refid="sqlWhere" />
		</where>
	</select>
	
	<delete id="deleteByZzzyId">
		DELETE FROM t_advert_gggl_zzzy_ext WHERE DSZY_ID=#{dszyId,jdbcType=VARCHAR}
	</delete>
</mapper>