<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.advert.dao.yhgl.CompanyZzInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pope.advert.entity.yhgl.CompanyZzInfo" >
    <id column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="ZZLX" property="zzlx" jdbcType="VARCHAR" />
    <result column="ZZLOG" property="zzlog" jdbcType="VARCHAR" />
    <result column="REGISTER_ID" property="registerId" jdbcType="VARCHAR" />
    <result column="COMPANY_ID" property="companyId" jdbcType="VARCHAR" />
    <result column="CJSJ" property="cjsj" jdbcType="VARCHAR" />
    <result column="CJIP" property="cjip" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="VARCHAR" />
    <result column="SHZT" property="shzt" jdbcType="VARCHAR" />
    <result column="UPDATE_IP" property="updateIp" jdbcType="VARCHAR" />
    <result column="DATASTATUS" property="datastatus" jdbcType="VARCHAR" />
    
    
  </resultMap>
  <sql id="Base_Column_List" >
    WID, ZZLX, ZZLOG, REGISTER_ID,COMPANY_ID, CJSJ, CJIP, UPDATE_TIME, SHZT, UPDATE_IP, DATASTATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_advert_yhgl_company_zz
    where WID = #{wid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_advert_yhgl_company_zz
    where WID = #{wid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pope.advert.entity.yhgl.CompanyZzInfo" >
    insert into t_advert_yhgl_company_zz (WID, ZZLX, ZZLOG, 
      REGISTER_ID, CJSJ, CJIP, 
      UPDATE_TIME, SHZT, UPDATE_IP, 
      DATASTATUS,COMPANY_ID)
    values (#{wid,jdbcType=VARCHAR}, #{zzlx,jdbcType=VARCHAR}, #{zzlog,jdbcType=VARCHAR}, 
      #{registerId,jdbcType=VARCHAR}, #{cjsj,jdbcType=VARCHAR}, #{cjip,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR}, #{shzt,jdbcType=VARCHAR}, #{updateIp,jdbcType=VARCHAR}, 
      #{datastatus,jdbcType=VARCHAR},#{companyId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pope.advert.entity.yhgl.CompanyZzInfo" >
    insert into t_advert_yhgl_company_zz
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="zzlx != null" >
        ZZLX,
      </if>
      <if test="zzlog != null" >
        ZZLOG,
      </if>
      <if test="registerId != null" >
        REGISTER_ID,
      </if>
      <if test="cjsj != null" >
        CJSJ,
      </if>
      <if test="cjip != null" >
        CJIP,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="shzt != null" >
        SHZT,
      </if>
      <if test="updateIp != null" >
        UPDATE_IP,
      </if>
      <if test="datastatus != null" >
        DATASTATUS,
      </if>
      <if test="companyId!=null">
      	COMPANY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="zzlx != null" >
        #{zzlx,jdbcType=VARCHAR},
      </if>
      <if test="zzlog != null" >
        #{zzlog,jdbcType=VARCHAR},
      </if>
      <if test="registerId != null" >
        #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=VARCHAR},
      </if>
      <if test="cjip != null" >
        #{cjip,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="shzt != null" >
        #{shzt,jdbcType=VARCHAR},
      </if>
      <if test="updateIp != null" >
        #{updateIp,jdbcType=VARCHAR},
      </if>
      <if test="datastatus != null" >
        #{datastatus,jdbcType=VARCHAR},
      </if>
      <if test="companyId!=null">
      	#{companyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pope.advert.entity.yhgl.CompanyZzInfo" >
    update t_advert_yhgl_company_zz
    <set >
      <if test="zzlx != null" >
        ZZLX = #{zzlx,jdbcType=VARCHAR},
      </if>
      <if test="zzlog != null" >
        ZZLOG = #{zzlog,jdbcType=VARCHAR},
      </if>
      <if test="registerId != null" >
        REGISTER_ID = #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        CJSJ = #{cjsj,jdbcType=VARCHAR},
      </if>
      <if test="cjip != null" >
        CJIP = #{cjip,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="shzt != null" >
        SHZT = #{shzt,jdbcType=VARCHAR},
      </if>
      <if test="updateIp != null" >
        UPDATE_IP = #{updateIp,jdbcType=VARCHAR},
      </if>
      <if test="datastatus != null" >
        DATASTATUS = #{datastatus,jdbcType=VARCHAR},
      </if>
      <if test="companyId!=null">
      	COMPANY_ID=#{companyId,jdbcType=VARCHAR},
      </if>
      
    </set>
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pope.advert.entity.yhgl.CompanyZzInfo" >
    update t_advert_yhgl_company_zz
    set ZZLX = #{zzlx,jdbcType=VARCHAR},
      ZZLOG = #{zzlog,jdbcType=VARCHAR},
      REGISTER_ID = #{registerId,jdbcType=VARCHAR},
      CJSJ = #{cjsj,jdbcType=VARCHAR},
      CJIP = #{cjip,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      SHZT = #{shzt,jdbcType=VARCHAR},
      UPDATE_IP = #{updateIp,jdbcType=VARCHAR},
      DATASTATUS = #{datastatus,jdbcType=VARCHAR},
      COMPANY_ID=#{companyId,jdbcType=VARCHAR}
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
</mapper>