
.detail-table{
	width:100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
}
.detail-table .lable{
	width:15%;
}
.detail-table .value{
	width:35%;
}
.detail-table .value_three{
	width:85%;
}

.detail-table th, .detail-table td {
	border: 1px solid #ccc;
	line-height: 30px;
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
}
.mytable-border {
	border: 1px solid #ccc;
	border-collapse: collapse;
}

.mytable-border th, .mytable-border td {
	border: 1px solid #ccc;
	line-height: 30px;
	height: 40px;
	padding-left: 5px;
	padding-right: 5px;
}

.my-fa-text {
	font-size: 12px !important;
	color: #666 !important;
}

.my-fa-i-border {
	border: solid 2px #eee !important;
}

.my-bg-color {
	background: #89bceb !important;
}

.my-text-color {
	color: #89bceb !important;
}

.my-table-responsive {
	overflow-x: inherit !important;
}

.my-border-color {
	border-color: #89bceb !important;
}

.my-form-bz {
	font-size: 12px !important;
}

.my-padding-12 {
	padding: 12px !important;
}

.my-mt-0 {
	margin-top: 0px !important;
}

.my-mt-5 {
	margin-top: 5px !important;
}

.my-mt-10 {
	margin-top: 10px !important;
}

.my-mt-15 {
	margin-top: 15px !important;
}

.my-mt-20 {
	margin-top: 20px !important;
}

.my-mt-30 {
	margin-top: 30px !important;
}

.my-mt-40 {
	margin-top: 40px !important;
}

.fileImg {
	margin-left: -15px;
	width: 460px;
}

.fileImg ul li {
	position: relative;
	border: 1px solid #c5c5c5;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px 0px 0px 10px;
	list-style-type: none;
	background: #f4f5f7;
	border-radius: 5px;
}

.fileImg ul li input {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: Alpha(Opacity = 0);
	opacity: 0;
	cursor: pointer;
}

.fileImg ul li:after {
	position: absolute;
	content: ' ';
	display: block;
	width: 2px;
	height: 30px;
	background: #cdcdcd;
	left: 50%;
	margin-left: -1px;
	top: 50%;
	margin-top: -15px;
	z-index: 2;
}

.fileImg ul li:before {
	position: absolute;
	content: ' ';
	display: block;
	top: 50%;
	margin-top: -1px;
	z-index: 2;
	width: 30px;
	height: 2px;
	background: #cdcdcd;
	left: 50%;
	margin-left: -15px;
}

.fileImg ul li div {
	display: none;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
	background: #f4f5f7;
	cursor: pointer;
	border-radius: 5px;
	overflow: hidden;
	text-align: center;
	z-index: 3;
}

.fileImg ul li div:after {
	content: '';
	z-index: 40;
	width: 18px;
	height: 18px;
	background: url(../images/fabu_gai6.png) no-repeat;
	position: absolute;
	top: 3px;
	right: 3px;
	text-align: center;
}

.fileImg ul li div span {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.fileImg ul li div img {
	max-width: 100px;
	max-height: 100px;
	vertical-align: middle;
}

.supply-detail-table-th {
	color: #cc0000;
	font-family: Arial;
	font-size: 14px;
}

.supply-detail-table-gray {
	color: #999999;
	font-size: 12px;
}

pearl-icon {
	font-size: 14px !important;
}

.pearl-icon, .pearl-number {
	width: 28px !important;
	height: 28px !important;
	line-height: 25px !important;
}

.pearl-title {
	font-size: 14px !important;
}

.pearl.current .pearl-icon, .pearl.current .pearl-number {
	transform: scale(1) !important;
}

.my-fa-text {
	font-size: 12px !important;
	color: #666 !important;
}

.my-fa-i-border {
	border: solid 2px #eee !important;
}

.my-bg-color {
	background: #89bceb !important;
}

.my-text-color {
	color: #89bceb !important;
}

.my-border-color {
	border-color: #89bceb !important;
}

.my-form-bz {
	font-size: 12px !important;
}

.my-padding-8 {
	padding: 6px !important;
}

.my-mb-10 {
	margin-bottom: 10px !important;
}

.my-ml-0 {
	margin-left: 0px !important;
}

.my-ml-10 {
	margin-left: 10px !important;
}

.my-ml-15 {
	margin-left: 15px !important;
}

.my-mt-0 {
	margin-top: 0px !important;
}

.my-mt-5 {
	margin-top: 5px !important;
}

.my-mt-10 {
	margin-top: 10px !important;
}

.my-mt-15 {
	margin-top: 15px !important;
}

.my-mt-20 {
	margin-top: 20px !important;
}

.my-mt-30 {
	margin-top: 30px !important;
}

.my-mt-40 {
	margin-top: 40px !important;
}

.my-image img {
	cursor: pointer;
	transition: all 0.6s;
}

.my-image img:hover {
	transform: scale(1.4);
}

.my-cart {
	
}

.my-cart-panel {
	border-color: #fff !important;
	margin-bottom: 20px !important;
	background-color: #fff !important;
	border: 1px solid transparent !important;
	border-radius: 4px !important;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
}

.my-cart-panel-body {
	padding: 15px 15px 0px 15px !important;
}

.my-cart img {
	width: 100% !important;
	height: 170px !important;
	border: 5px solid #ecf0f1 !important;
	margin-bottom: 7px !important;
}

.my-cart hr {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.my-cart h4.title-real-estates a {
	color: #f39c12 !important;
}

.my-cart h4.title-real-estates a:hover {
	-webkit-transition: all 1s ease !important;
	-moz-transition: all 1s ease !important;
	-ms-transition: all 1s ease !important;
	-o-transition: all 1s ease !important;
	transition: all 1s ease !important;
	color: #f1c40f !important;
}

.my-cart h4 span {
	color: #f1c40f !important;
}

.my-cart .label {
	display: inline !important;
	padding: .2em .6em .3em !important;
	font-size: 75% !important;
	font-weight: 700 !important;
	line-height: 1 !important;
	color: #fff !important;
	text-align: center !important;
	white-space: nowrap !important;
	vertical-align: baseline !important;
	border-radius: .25em !important;
}

.my-cart .label-danger {
	background-color: #d9534f !important;
}

.my-panel-body {
	
}

@media ( max-width : 768px) {
	.my-panel-body {
		padding: 1px !important;
	}
}

.gzzx-header {
	border-bottom: 1px solid #ddd;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 25px;
	min-width: auto;
	padding-bottom: 10px;
	font-family: 微软雅黑;
}

.gzzx-subheader {
	font-weight: bold;
	margin: 15px 0;
	padding-bottom: 0;
	font-size: 13px;
	line-height: 20px;
	font-family: 微软雅黑;
}

.gzxx-content p {
	padding: 0;
	text-indent: 2em;
	font-family: 微软雅黑;
}

.center-right-header {
	border-bottom: 1px solid #eff2f7;
	padding: 1rem 1.5rem;
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #273444;
}

.center-right-header-more {
	font-size: 1rem;
	color: #2d59a2;
	float: right;
}

.center-right-body {
	padding: 1rem 1.5rem;
	font-size: 1rem;
	color: #273444;
}

.center-right-body b {
	border: 2px solid #fff;
	display: inline-block;
	margin-right: .7rem;
	position: relative;
	z-index: 2;
	border-radius: 50%;
}

.center-right-body button {
	outline: none;
	border-radius: 4px;
	font-size: 1rem;
	border: 1px solid #4289dc;
	background: #3a79c2;
	color: #fff;
	line-height: 1.5rem;
	padding: .6rem 1rem;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	width: 100%;
	display: block;
	margin-top: 1rem;
	font-family: inherit;
}

}
.center-right-body ul {
	margin: 0px;
	padding: 0px;
}

.center-right-body li {
	padding: .7rem 0;
	position: relative
}

.center-right-bodyli b {
	border: 2px solid #fff;
	display: inline-block;
	margin-right: .7rem;
	position: relative;
	z-index: 2;
	border-radius: 50%
}

.center-right-body li i {
	content: " (" attr(key) ") ";
	border: 1px solid #cad3de;
	width: 1.5rem;
	height: 1.5rem;
	color: #cad3de;
	font-size: 1rem;
	line-height: 1.5rem;
	display: inline-block;
	border-radius: 1.5rem;
	vertical-align: middle;
	font-style: normal;
	text-align: center;
	background: #fff
}

.center-right-body li:before {
	content: "";
	border-right: 1px solid #cad3de;
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: .75rem;
	z-index: 1;
	margin-left: 1px
}

.center-right-body li:first-child:before {
	height: 50%;
	top: 50%
}

.center-right-body li:last-child:before {
	height: 50%;
	top: 0;
	bottom: 50%
}

.center-left-body {
	padding: 1rem 2.5rem;
}

.center-left-header {
	border-bottom: 1px solid #eff2f7;
	padding: 1rem 0;
	line-height: 2rem
}

.center-left-header .search {
	position: absolute;
	right: .7rem;
	color: #8796a8;
	line-height: 2rem;
	cursor: pointer;
}

.center-left-header .span-content {
	position: relative;
}

.center-left-header input {
	height: 2rem;
	line-height: 2rem;
	background: #f9fafc;
	border: 1px solid #e0e6ed;
	border-radius: 2px;
	max-width: 13rem;
	font-size: .9rem;
	color: #8796a8;
	min-width: inherit;
	padding-right: 2rem;
	padding: .6rem 1rem;
	outline: none;
	box-sizing: border-box;
}

.center-left-body-block {
	border-bottom: 1px solid #eff2f7
}

.center-left-body-block:hover {
	background: #f9fafc
}

.center-left-body-block .child {
	padding: 1.5rem 0;
	display: table;
	width: 100%;
	box-sizing: border-box
}

.center-left-body-block a {
	color: #108ee9;
	background: transparent;
	outline: none;
	cursor: pointer;
	transition: color .3s ease;
	text-decoration: none;
}

.center-left-body-block .img-div {
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	display: table-cell;
	vertical-align: top;
	max-height:100px;
}

.center-left-body-block .img-div img {
	width: 100%;
	display: block
}

.center-left-body-block .img-div img.mycover {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px
}

.center-left-body-block .left-bolck {
	position: relative;
	display: table-cell;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

.center-left-body-block .left-bolck .info-body {
	padding-left: 1.5rem;
	margin-bottom: 1.2rem
}

.center-left-body-block .left-bolck .info-body .info-body-title {
	line-height: 1.8rem;
	margin-bottom: .5rem;
	word-break: break-all
}

.center-left-body-block .left-bolck .info-body .info-body-title .info-body-title-name
	{
	color: #273444;
	font-size: 1.2rem;
	font-weight: 400
}

.center-left-body-block .left-bolck .info-body .info-body-title .info-body-title-name .number-title
	{
	margin-right: .5rem;
}

.center-left-body-block .price {
	color: #f75288;
	padding-right:5px;
}

.tsxx {
	border-radius: 2px;
	font-size: .84rem;
	padding: 0 .36rem;
	margin: 0 .5rem;
	display: inline-block;
	height: 1.5rem;
	line-height: 1.5rem;
	vertical-align: middle;
}

.tsxx-green {
	border: 1px solid #61c279;
	color: #61c279;
}

.tsxx-red {
	border: 1px solid red;
	color: red;
}

.tsxx-gray {
	border: 1px solid #999;
	color: #999;
}

.tsxx-blue {
	border: 1px solid blue;
	color: blue;
}

.center-left-body-block .content1 {
	font-size: 1rem;
	line-height: 1.5rem;
	margin-right: 2rem;
	display: inline-block;
	/**padding-left:1.5rem;*/
	margin-bottom:0.5rem;
}

.center-left-body-block .content1 label {
	color: #727f8f;
}

.center-left-body-block .content1 span {
	color: #3c4858;
}

.center-left-body-block .time-content {
	color: #8796a8;
	font-size: .9rem;
	line-height: 1.35rem;
/* position: absolute; */
	/**padding-left:1rem;*/
	bottom: 0
}

.center-left-body-block .time-content span {
	/**padding: 0 .5rem*/
}

.mypaging {
	list-style: none;
	margin: 35px 0;
	padding: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center
}

.mypaging li {
	margin: 0 .5rem
}

.mypaging li>a {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	border: 1px solid #cad4de;
	border-radius: 4px;
	padding: 0;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 12.6px;
	color: #2d3238
}

.mypaging li:hover>a {
	border: 1px solid #4289dc;
	border-radius: 4px
}

.mypaging .active>a {
	border: 1px solid #4289dc;
	background: #4289dc;
	color: #fff
}

.mypaging .disabled>a {
	cursor: not-allowed;
	color: #cad4de
}

.mypaging .disabled>a:hover a {
	border: 1px solid #cad4de
}

.mypaging .break {
	color: #cad4de
}

.my-btn-blue {
	background-color: #3a79c2 !important;
	border-color: #3a79c2 !important;
	border-radius: 4px !important;
}

.my-btn-red {
	background-color: #f96868 !important;
	border-color: #f96868 !important;
	color: #fff !important;
	border-radius: 4px !important;
}

.my-btn-white {
	background-color: #fff !important;
	border-color: #3a79c2 !important;
	color: #3a79c2 !important;
	border-radius: 4px !important;
}

.mypaging2 {
	list-style: none;
	margin: 35px 0;
	padding: 0;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center
}

.mypaging2 a {
	margin: 0 .5rem
}

.mypaging2 a, .mypaging2 span {
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	border: 1px solid #cad4de;
	border-radius: 4px;
	padding: 0;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 12.6px;
	color: #2d3238
}

.mypaging2 a:hover {
	border: 1px solid #4289dc;
	border-radius: 4px
}

.mypaging2 a.active, .mypaging2 span.active {
	border: 1px solid #4289dc;
	background: #4289dc;
	color: #fff
}

.mypaging2 .break {
	color: #cad4de
}

.rwxx-detail-header {
	box-sizing: border-box;
	width: 100%;
	padding-top: 21px;
	padding-left: 4px;
	padding-bottom: 16px;
	border-bottom: 1px solid #dde3eb;
	font-size: 1.5rem;
	color: #273444;
	line-height: 2rem;
	text-align: left
}

.rwxx-detal-xmxx-font1 {
	color: #727f8f;
}

.rwxx-detal-xmxx-font2 {
	color: #3c4858;
}

.rwxx-detail-tbxx {
	padding: 0 0;
}

.rwxx-dtail-tbxx-content {
	margin: 35px auto;
	background: #fff;
	border: 1px solid #dde3eb;
	border-radius: 4px;
	position: relative
}

.rwxx-dtail-tbxx-content .rwxx-dtail-tbxx-content-item {
	width: 100%;
	box-sizing: border-box;
	padding: 2rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row
}

.rwxx-dtail-tbxx-content .rwxx-dtail-tbxx-content-left {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center
}

.rwxx-dtail-tbxx-content-left img {
	height: 90px;
	width: 90px;
	border: 1px solid #e0e6ed;
	border-radius: 45px
}

.rwxx-dtail-tbxx-content .rwxx-dtail-tbxx-content-center {
	margin-left: 1.5rem;
	-ms-flex: 1;
	flex: 1
}

.rwxx-dtail-tbxx-content-center .rwxx-dtail-tbxx-content-center-title {
	font-size: 1.5rem;
	color: #273444
}

.rwxx-dtail-tbxx-content-center .my-score {
	float: right;
	font-size: 1rem;
	color: #727f8f;
}

.rwxx-dtail-tbxx-content-center .my-score-color {
	color: #ebba59;
}

.rwxx-dtail-tbxx-content-center .apply-message {
	color: #273444;
	margin-top: 10px;
	display: -ms-flexbox;
	display: flex
}

.rwxx-dtail-tbxx-content-center-line {
	min-width: 1px;
	width: 1px;
	background: #dde3eb;
	margin: 0 35px
}

.rwxx-dtail-tbxx-content-center .apply-message-span1 {
	white-space: nowrap;
}

.rwxx-dtail-tbxx-content-center .apply-message-span2 {
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 460px;
	overflow: hidden
}

.rwxx-dtail-tbxx-content-center .rwxx-dtail-tbxx-content-center-sm {
	margin-top: 10px;
	margin-bottom: 1.5rem;
	color: #727f8f;
	font-size: 14px;
}

.map_01 {
	float: left;
	width: 100%;
	height: 40px;
	overflow: hidden;
	margin: 15px 0px 0px 10px;
	border-top: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	background-color: #f4f4f4;
	display: inline;
}

.map_01_1 {
	float: left;
	width: 100px;
	height: 40px;
	text-align: center;
	background-color: #FFFFFF;
	padding: 9px 0px 0px 0px;
	border-left: 1px solid #dcdcdc; /* border-bottom:1px solid #ffffff; */
	display: inline;
}

.map_01_1 a {
	font-size: 14px;
	font-weight: bold;
}

.map_01_2 {
	float: left;
	width: 100px;
	height: 40px;
	text-align: center;
	padding: 9px 0px 0px 0px;
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	display: inline;
}

.map_01_2 a {
	font-size: 14px;
}

.map_01_3 {
	float: left;
	width: 674px;
	height: 40px;
	padding: 12px 0px 0px 10px;
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	display: inline;
}

.map_07 {
	float: left;
	width: 100%;
	height: 430px;
	overflow: hidden;
	margin: -1px 0px 0px 10px;
	padding: 11px 10px 10px 10px;
	border-bottom: 1px solid #dcdcdc;
	border-left: 1px solid #dcdcdc;
	border-right: 1px solid #dcdcdc;
	display: inline;
}
.map_07_01{
position:absolute;
border:1px solid #dcdcdc;
padding:1px;
width: 90%;
height:400px;
background-color:#FFFFFF;
display:inline;
}




.center-right-body ul {
	margin: 0px;
	padding: 0px;
}

.center-right-body li {
	padding: .7rem 0;
	position: relative
}

.center-right-bodyli b {
	border: 2px solid #fff;
	display: inline-block;
	margin-right: .7rem;
	position: relative;
	z-index: 2;
	border-radius: 50%
}

.center-right-body li i {
	content: " (" attr(key) ") ";
	border: 1px solid #cad3de;
	width: 1.5rem;
	height: 1.5rem;
	color: #cad3de;
	font-size: 1rem;
	line-height: 1.5rem;
	display: inline-block;
	border-radius: 1.5rem;
	vertical-align: middle;
	font-style: normal;
	text-align: center;
	background: #fff
}

.center-right-body li:before {
	content: "";
	border-right: 1px solid #cad3de;
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: .75rem;
	z-index: 1;
	margin-left: 1px
}

.center-right-body li:first-child:before {
	height: 50%;
	top: 50%
}

.center-right-body li:last-child:before {
	height: 50%;
	top: 0;
	bottom: 50%
}

.center-left-body {
	padding: 1rem 2.5rem;
}

.center-left-header {
	border-bottom: 1px solid #eff2f7;
	padding: 1rem 0;
	line-height: 2rem
}

.center-left-header .search {
	position: absolute;
	right: .7rem;
	color: #8796a8;
	line-height: 2rem;
	cursor: pointer;
}

.center-left-header .span-content {
	position: relative;
}

.center-left-header input {
	height: 2rem;
	line-height: 2rem;
	background: #f9fafc;
	border: 1px solid #e0e6ed;
	border-radius: 2px;
	max-width: 13rem;
	font-size: .9rem;
	color: #8796a8;
	min-width: inherit;
	padding-right: 2rem;
	padding: .6rem 1rem;
	outline: none;
	box-sizing: border-box;
}

.center-left-body-block {
	border-bottom: 1px solid #eff2f7
}

.center-left-body-block:hover {
	background: #f9fafc
}

.center-left-body-block .child {
	padding: 1.5rem 0;
	display: table;
	width: 100%;
	box-sizing: border-box
}

.center-left-body-block a {
	color: #108ee9;
	background: transparent;
	outline: none;
	cursor: pointer;
	transition: color .3s ease;
	text-decoration: none;
}

.center-left-body-block .img-div {
	/**width: 10.71rem;*/
	overflow: hidden;
	position: relative;
	border-radius: 2px;
	display: table-cell;
	vertical-align: top;
}

@media ( max-width :460px) {
	.center-left-body {
		padding: 0px;
	}
}

.file-upload-success {
  background-color: transparent;
  color: #60BE29;
  text-decoration: none;
  cursor: pointer;
}

.file-upload {
  background-color: transparent;
  color: #2196F3;
  text-decoration: none;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.file-upload input[type=file] {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity = 0);
  top: 0;
  right: 0;
}

.file-upload-info {
  font-size: 12px;
  vertical-align: top;
  color: #bbb;
}


.news_list_met_27_1 .newsbox{
	padding: 10px !important;
}
.news_list_met_27_1 .left-news {
  overflow: hidden;
  padding: 0;
}
.news_list_met_27_1 .left-news .slick-dotted.slick-slider {
  margin: 0;
}

.news_list_met_27_1 .left-news .left-img {
  overflow: hidden;
  padding: 0;
}
.news_list_met_27_1 .left-news .left-img a:hover {
  text-decoration: none;
}
.news_list_met_27_1 .left-news .left-img h3 {
  margin: 0;
  height: 40px;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  line-height: 40px;
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  padding: 0 200px;
}
.news_list_met_27_1 .left-news .left-img img {
  width: 100%;
  height: 372px;
  border-radius: 5px;
}
.news_list_met_27_1 .left-news .left-img .slick-dots {
  bottom: 8px;
  right: 10px;
  padding: 0 5px;
  width: auto;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
}
.news_list_met_27_1 .left-news .left-img .slick-dots li {
  float: left;
  margin: 2px 0 1px;
}
.news_list_met_27_1 .left-news .left-img .slick-dots li button {
  border-radius: 100%;
}
.news_list_met_27_1 .news-ul {
  padding: 0px;
  border: 1px solid #e7eaf1;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.05);
  position: relative;
  background:#f2f2f2;
  background: #0c5799;
  padding-bottom: 15px;
  border-color:#0c5799;
}
.news_list_met_27_1 .slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.news_list_met_27_1 .slick-dots
{
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.news_list_met_27_1 .slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.news_list_met_27_1 .slick-dots li button
{
    font-size: 0;
    line-height: 0px;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.news_list_met_27_1 .slick-dots li button:hover,
.news_list_met_27_1 .slick-dots li button:focus
{
    outline: none;
}
.news_list_met_27_1 .slick-dots li button:hover:before,
.news_list_met_27_1 .slick-dots li button:focus:before
{
    opacity: 1;
}
.news_list_met_27_1 .slick-dots li button::before {
    font-family: slick;
    font-size: 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: black;
    -webkit-font-smoothing: antialiased;
}
.news_list_met_27_1 .slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
.news_list_met_27_1 .slick-arrow { 
	display: none !important; 
}

.news_list_met_27_1 .news-ul .right-img {
  padding: 20px 20px 0;
}
.news_list_met_27_1 .news-ul .right-img img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.news_list_met_27_1 .news-ul li {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}
.news_list_met_27_1 .news-ul li a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color:#ffffff;
  padding-left: 10px;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
  height: 40px;
  line-height: 40px;
  display: block;
}
.news_list_met_27_1  .news-ul li a:hover {
  background-image: linear-gradient(to right, transparent, #183a5c, transparent);
  transition: all 230ms ease;
}
@media (max-width: 991px) {
.news_list_met_27_1 .newsbox{
	padding: 10px !important;
}
 .news_list_met_27_1  .left-news .rnews-img img {
    height: auto;
  }
}
@media (max-width: 768px) {
.news_list_met_27_1 .newsbox{
	padding: 10px !important;
}
  .news_list_met_27_1  .left-news {
    padding-right: 0;
    height: auto;
  }

  .news_list_met_27_1 .left-news .left-img h3 {
    text-align: left;
    padding-left: 15px;
    padding-right: 100px;
  }
 .news_list_met_27_1 .left-news .slick-dotted.slick-slider {
    margin-bottom: 15px;
  }
  
 .news_list_met_27_1 .news-ul {
    height: auto;
  }
  .news_list_met_27_1 .news-ul li a {
    max-width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 414px){
	.news_list_met_27_1 .left-news .left-img img{
   	  width: 100%;
   	  height: auto !important;
   }
}


.news_list_met_27_2 .met-index-news {
  background: #fff;
  border: 1px solid #e7eaf1;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 37, 55, 0.05);
  padding: 10px;
}
  .news_list_met_27_2 .met-index-news .title {
  border-bottom: 1px solid #1077cc;
  margin-bottom: 10px;
  padding:0px;
  background:#FFF;
}
  .news_list_met_27_2 .met-index-news .news-h {
  float: left;
  padding-left: 15px;
  margin: 0;
  font-size: 22px;
  line-height: 36px;
  color: #000000;
  color:#1077cc;
  position: relative;
}
  .news_list_met_27_2 .met-index-news .news-h:before {
  position: absolute;
  top: 6px;
  left: 5px;
  content: '';
  height: 22px;
  width: 4px;
  background-color:#1077cc;
  background: ;
}
  .news_list_met_27_2 .met-index-news .news-desc {
  float: right;
  line-height: 36px;
  color: #999999;
  color: ;
  text-align: right;
  padding-right: 10px;
  margin: 0;
}
.news_list_met_27_2 .met-index-news .news-list {
	padding: 0px;
}
  .news_list_met_27_2 .met-index-news .news-list li {
  height: 24px;
  line-height: 24px;
  font-size: 13px;
  padding-left: 15px;
  overflow: hidden;
  background: url(../../../templates/res023/min/css/../img/arrow_b.png) 4px 7px no-repeat;
  font-weight: 500;
}
  .news_list_met_27_2 .met-index-news .news-list li a {
  color: #000000;
  color: #7e8a94;
  height: 24px;
  line-height: 24px;
}
  .news_list_met_27_2 .met-index-news .news-list li a:hover {
  text-decoration: underline;
  color: #1077cc;
  color: ;
}
  .news_list_met_27_2 .met-index-news .news-list li a span {
  color: #000000;
  color: #7e8a94;
  float: right;
  padding-left: 10px;
  margin-right: 5px;
}
  .news_list_met_27_2 .met-index-news .more {
  text-align: right;
  margin-top: 20px;
}
  .news_list_met_27_2 .met-index-news .more a {
  padding: 5px 7px;
  border: 1px solid;
  border-radius: 5px;
  color: #1077cc;
  color: ;
  transition: all 0.5s ease-out;
}
  .news_list_met_27_2 .met-index-news .more a:hover {
  color: #ffffff;
  background-color: #1077cc;
  background: ;
  text-decoration: none;
  border-color: ;
}
  .news_list_met_27_2 .met-index-news img {
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .item {
      padding: 10px 0;
    }
}
@media (max-width: 991px) {
   .item {
      padding: 10px 0 !important;
   }
   .imgbox{
     	width: 100%;
   }
   
}
