<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.advert.dao.gggl.xmtzy.XmtzyInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pope.advert.entity.gggl.xmtzy.XmtzyInfo" >
    <id column="WID" property="wid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="AREA" property="area" jdbcType="VARCHAR" />
    <result column="TV_ID" property="tvId" jdbcType="VARCHAR" />
    <result column="ADVERT_TYPE" property="advertType" jdbcType="VARCHAR" />
    <result column="GGJG" property="ggjg" jdbcType="DECIMAL" />
    <result column="GGGGXS" property="ggggxs" jdbcType="VARCHAR" />
    <result column="SZRQ" property="szrq" jdbcType="VARCHAR" />
    <result column="JYCD" property="jycd" jdbcType="VARCHAR" />
    <result column="ZYFB" property="zyfb" jdbcType="VARCHAR" />
    <result column="SRZK" property="srzk" jdbcType="VARCHAR" />
    <result column="XMTJJ" property="xmtjj" jdbcType="VARCHAR" />
    <result column="CJSJ" property="cjsj" jdbcType="VARCHAR" />
    <result column="CJIP" property="cjip" jdbcType="VARCHAR" />
    <result column="REGISTER_ID" property="registerId" jdbcType="VARCHAR" />
    <result column="DATASTATUS" property="datastatus" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    WID, NAME, AREA, TV_ID, ADVERT_TYPE, GGJG, GGGGXS, SZRQ, JYCD, ZYFB, SRZK, XMTJJ, 
    CJSJ, CJIP, REGISTER_ID, DATASTATUS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_advert_gggl_xmtzy
    where WID = #{wid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_advert_gggl_xmtzy
    where WID = #{wid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pope.advert.entity.gggl.xmtzy.XmtzyInfo" >
    insert into t_advert_gggl_xmtzy (WID, NAME, AREA, 
      TV_ID, ADVERT_TYPE, GGJG, 
      GGGGXS, SZRQ, JYCD, 
      ZYFB, SRZK, XMTJJ, 
      CJSJ, CJIP, REGISTER_ID, 
      DATASTATUS)
    values (#{wid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{tvId,jdbcType=VARCHAR}, #{advertType,jdbcType=VARCHAR}, #{ggjg,jdbcType=DECIMAL}, 
      #{ggggxs,jdbcType=VARCHAR}, #{szrq,jdbcType=VARCHAR}, #{jycd,jdbcType=VARCHAR}, 
      #{zyfb,jdbcType=VARCHAR}, #{srzk,jdbcType=VARCHAR}, #{xmtjj,jdbcType=VARCHAR}, 
      #{cjsj,jdbcType=VARCHAR}, #{cjip,jdbcType=VARCHAR}, #{registerId,jdbcType=VARCHAR}, 
      #{datastatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pope.advert.entity.gggl.xmtzy.XmtzyInfo" >
    insert into t_advert_gggl_xmtzy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        WID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="area != null" >
        AREA,
      </if>
      <if test="tvId != null" >
        TV_ID,
      </if>
      <if test="advertType != null" >
        ADVERT_TYPE,
      </if>
      <if test="ggjg != null" >
        GGJG,
      </if>
      <if test="ggggxs != null" >
        GGGGXS,
      </if>
      <if test="szrq != null" >
        SZRQ,
      </if>
      <if test="jycd != null" >
        JYCD,
      </if>
      <if test="zyfb != null" >
        ZYFB,
      </if>
      <if test="srzk != null" >
        SRZK,
      </if>
      <if test="xmtjj != null" >
        XMTJJ,
      </if>
      <if test="cjsj != null" >
        CJSJ,
      </if>
      <if test="cjip != null" >
        CJIP,
      </if>
      <if test="registerId != null" >
        REGISTER_ID,
      </if>
      <if test="datastatus != null" >
        DATASTATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="tvId != null" >
        #{tvId,jdbcType=VARCHAR},
      </if>
      <if test="advertType != null" >
        #{advertType,jdbcType=VARCHAR},
      </if>
      <if test="ggjg != null" >
        #{ggjg,jdbcType=DECIMAL},
      </if>
      <if test="ggggxs != null" >
        #{ggggxs,jdbcType=VARCHAR},
      </if>
      <if test="szrq != null" >
        #{szrq,jdbcType=VARCHAR},
      </if>
      <if test="jycd != null" >
        #{jycd,jdbcType=VARCHAR},
      </if>
      <if test="zyfb != null" >
        #{zyfb,jdbcType=VARCHAR},
      </if>
      <if test="srzk != null" >
        #{srzk,jdbcType=VARCHAR},
      </if>
      <if test="xmtjj != null" >
        #{xmtjj,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        #{cjsj,jdbcType=VARCHAR},
      </if>
      <if test="cjip != null" >
        #{cjip,jdbcType=VARCHAR},
      </if>
      <if test="registerId != null" >
        #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="datastatus != null" >
        #{datastatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pope.advert.entity.gggl.xmtzy.XmtzyInfo" >
    update t_advert_gggl_xmtzy
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        AREA = #{area,jdbcType=VARCHAR},
      </if>
      <if test="tvId != null" >
        TV_ID = #{tvId,jdbcType=VARCHAR},
      </if>
      <if test="advertType != null" >
        ADVERT_TYPE = #{advertType,jdbcType=VARCHAR},
      </if>
      <if test="ggjg != null" >
        GGJG = #{ggjg,jdbcType=DECIMAL},
      </if>
      <if test="ggggxs != null" >
        GGGGXS = #{ggggxs,jdbcType=VARCHAR},
      </if>
      <if test="szrq != null" >
        SZRQ = #{szrq,jdbcType=VARCHAR},
      </if>
      <if test="jycd != null" >
        JYCD = #{jycd,jdbcType=VARCHAR},
      </if>
      <if test="zyfb != null" >
        ZYFB = #{zyfb,jdbcType=VARCHAR},
      </if>
      <if test="srzk != null" >
        SRZK = #{srzk,jdbcType=VARCHAR},
      </if>
      <if test="xmtjj != null" >
        XMTJJ = #{xmtjj,jdbcType=VARCHAR},
      </if>
      <if test="cjsj != null" >
        CJSJ = #{cjsj,jdbcType=VARCHAR},
      </if>
      <if test="cjip != null" >
        CJIP = #{cjip,jdbcType=VARCHAR},
      </if>
      <if test="registerId != null" >
        REGISTER_ID = #{registerId,jdbcType=VARCHAR},
      </if>
      <if test="datastatus != null" >
        DATASTATUS = #{datastatus,jdbcType=VARCHAR},
      </if>
    </set>
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pope.advert.entity.gggl.xmtzy.XmtzyInfo" >
    update t_advert_gggl_xmtzy
    set NAME = #{name,jdbcType=VARCHAR},
      AREA = #{area,jdbcType=VARCHAR},
      TV_ID = #{tvId,jdbcType=VARCHAR},
      ADVERT_TYPE = #{advertType,jdbcType=VARCHAR},
      GGJG = #{ggjg,jdbcType=DECIMAL},
      GGGGXS = #{ggggxs,jdbcType=VARCHAR},
      SZRQ = #{szrq,jdbcType=VARCHAR},
      JYCD = #{jycd,jdbcType=VARCHAR},
      ZYFB = #{zyfb,jdbcType=VARCHAR},
      SRZK = #{srzk,jdbcType=VARCHAR},
      XMTJJ = #{xmtjj,jdbcType=VARCHAR},
      CJSJ = #{cjsj,jdbcType=VARCHAR},
      CJIP = #{cjip,jdbcType=VARCHAR},
      REGISTER_ID = #{registerId,jdbcType=VARCHAR},
      DATASTATUS = #{datastatus,jdbcType=VARCHAR}
    where WID = #{wid,jdbcType=VARCHAR}
  </update>
</mapper>