<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.advert.dao.gggl.gbzy.extend.GbzyInfoExtendMapper">
	<resultMap id="BaseResultMap" type="com.pope.advert.entity.gggl.gbzy.extend.GbzyInfoExtend"
		extends="com.pope.advert.dao.gggl.gbzy.GbzyInfoMapper.BaseResultMap">
		<result column="areaDisplay" property="areaDisplay" jdbcType="VARCHAR" />
		<result column="cityDisplay" property="cityDisplay" jdbcType="VARCHAR" />
		<result column="tvIdDisplay" property="tvIdDisplay" jdbcType="VARCHAR" />
		<result column="advertTypeDisplay" property="advertTypeDisplay"
			jdbcType="VARCHAR" />
		<result column="shztDisplay" property="shztDisplay" jdbcType="VARCHAR" />
		<result column="companyName" property="companyName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		t_advert_gggl_gbzy.WID, 
		t_advert_gggl_gbzy.AREA, 
		t_advert_gggl_gbzy.CITY, 
		t_advert_gggl_gbzy.TV_ID, 
		t_advert_gggl_gbzy.ADVERT_TYPE, 
		t_advert_gggl_gbzy.SHZT, 
		t_advert_gggl_gbzy.CJSJ, 
		t_advert_gggl_gbzy.CJIP, 
		t_advert_gggl_gbzy.REGISTER_ID,
		t_advert_gggl_gbzy.DATASTATUS
	</sql>
	<sql id="sqlWhere">
  		<if test='query.wid!=null and query.wid!=""'>
  			AND t_advert_gggl_gbzy.WID=#{query.wid,jdbcType=VARCHAR}
  		</if>
  		<if test='query.shzt!=null and query.shzt!=""'>
  			AND t_advert_gggl_gbzy.SHZT=#{query.shzt,jdbcType=VARCHAR}
  		</if>
  		<if test='query.companyName!=null and query.companyName!=""'>
  			AND t_advert_yhjbxx_company.name like concat('%',#{query.companyName,jdbcType=VARCHAR},'%')
  		</if>
  		
  </sql>
	<select id="selectDisplayByCondition" resultMap="BaseResultMap"
		parameterType="com.pope.advert.entity.dto.QueryCondition">
		SELECT
		<include refid="Base_Column_List" />
		,area.lbmc as areaDisplay
		,city.lbmc as cityDisplay
		,t_advert_sjzd_gbdst.lbmc as tvIdDisplay
		,t_advert_sjzd_gblx.lbmc as advertTypeDisplay
		,t_advert_sjzd_shzt.lbmc as shztDisplay
		,t_advert_yhjbxx_company.name as companyName
		from t_advert_gggl_gbzy
		LEFT JOIN T_ADVERT_SJZD_XZQH area ON t_advert_gggl_gbzy.AREA=area.LBDM
  		LEFT JOIN T_ADVERT_SJZD_XZQH city ON t_advert_gggl_gbzy.CITY=city.LBDM
  		LEFT JOIN t_advert_sjzd_gbdst ON t_advert_sjzd_gbdst.LBDM=t_advert_gggl_gbzy.TV_ID
  		LEFT JOIN t_advert_sjzd_gblx ON t_advert_sjzd_gblx.LBDM=t_advert_gggl_gbzy.ADVERT_TYPE
  		LEFT JOIN t_advert_sjzd_shzt ON t_advert_sjzd_shzt.LBDM=t_advert_gggl_gbzy.SHZT
  		
  		LEFT JOIN t_advert_yhjbxx_company on t_advert_yhjbxx_company.REGISTER_ID=t_advert_gggl_gbzy.register_id
  		<where>
  			<include refid="sqlWhere"/>
  		</where>
	</select>
</mapper>