<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.advert.dao.sjgl.extend.DlxxInfoExtendMapper" >
  <resultMap id="BaseResultMap" type="com.pope.advert.entity.sjgl.extend.DlxxInfoExtend"
  extends="com.pope.advert.dao.sjgl.DlxxInfoMapper.BaseResultMap" >
  	<result column="shztDisplay" property="shztDisplay" jdbcType="VARCHAR" />
  	<result column="companyName" property="companyName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pope.advert.entity.sjgl.extend.DlxxInfoExtend" extends="com.pope.advert.dao.sjgl.DlxxInfoMapper.ResultMapWithBLOBs" >
  	<result column="shztDisplay" property="shztDisplay" jdbcType="VARCHAR" />
  	<result column="companyName" property="companyName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    t_advert_sjgl_dlxx.WID, t_advert_sjgl_dlxx.TITLE, t_advert_sjgl_dlxx.KSSJ, t_advert_sjgl_dlxx.JSSJ, 
    t_advert_sjgl_dlxx.IMGID, t_advert_sjgl_dlxx.ZTNR, t_advert_sjgl_dlxx.MTFL,
     t_advert_sjgl_dlxx.CJSJ, t_advert_sjgl_dlxx.YHID, t_advert_sjgl_dlxx.XGSJ
     ,t_advert_sjgl_dlxx.SHZT, t_advert_sjgl_dlxx.SHSJ
  </sql>
  <sql id="Blob_Column_List" >
    t_advert_sjgl_dlxx.CONTENT
  </sql>
  <sql id="sqlWhere">
  	<if test='query!=null'>
  		<if test='query.wid!=null and query.wid!=""'>
  			AND t_advert_sjgl_dlxx.WID=#{query.wid,jdbcType=VARCHAR}
  		</if>
  		<if test='query.title!=null and query.title!=""'>
  			AND t_advert_sjgl_dlxx.TITLE like concat('%',#{query.title,jdbcType=VARCHAR},'%')
  		</if>
  		<if test='query.kssj!=null and query.kssj!=""'>
  			AND t_advert_sjgl_dlxx.KSSJ=#{query.kssj,jdbcType=VARCHAR}
  		</if>
  		<if test='query.jssj!=null and query.jssj!=""'>
  			AND t_advert_sjgl_dlxx.jssj=#{query.jssj,jdbcType=VARCHAR}
  		</if>
  		<if test='query.mtfl!=null and query.mtfl!=""'>
  			AND t_advert_sjgl_dlxx.mtfl=#{query.mtfl,jdbcType=VARCHAR}
  		</if>
  		<if test='query.yhid!=null and query.yhid!=""'>
  			AND t_advert_sjgl_dlxx.yhid=#{query.yhid,jdbcType=VARCHAR}
  		</if>
  			<if test='query.shzt!=null and query.shzt!=""'>
  			AND t_advert_sjgl_dlxx.shzt=#{query.shzt,jdbcType=VARCHAR}
  		</if>
  	</if>
  </sql>
  <sql id="sqlOrder">
  	order by 
  	<choose>
  		<when test="orderBy!=null">
  			<foreach collection="orderBy" item="item" open=" " close=" " separator=",">
  				${item}
  			</foreach>
  		</when>
  		<otherwise>
  			t_advert_sjgl_dlxx.xgsj desc
  		</otherwise>
  	</choose>
  	<if test='orderBy!=null'>
  	</if>
  </sql>
  <select id="selectDisplayByCondition" resultMap="BaseResultMap"
  parameterType="com.pope.advert.entity.dto.QueryCondition">
  		SELECT 
  		<include refid="Base_Column_List"/>
  		<if test='query.needCompanyInfo!=null and query.needCompanyInfo==true'>
  			,t_advert_yhjbxx_company.NAME AS companyName
  		</if>
  		,t_advert_sjzd_sjgl_shzt.lbmc as shztDisplay
  		FROM t_advert_sjgl_dlxx
  		<if test='query.needCompanyInfo!=null and query.needCompanyInfo==true'>
  			LEFT JOIN t_advert_yhjbxx_company on t_advert_yhjbxx_company.wid=t_advert_sjgl_dlxx.yhid
  		</if>
  		LEFT JOIN t_advert_sjzd_sjgl_shzt ON t_advert_sjzd_sjgl_shzt.LBDM=t_advert_sjgl_dlxx.SHZT
  		<where>
  			<include refid="sqlWhere"></include>
  		</where>
  		<include refid="sqlOrder"/>
  </select>
</mapper>