<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.advert.dao.sjgl.extend.HzxxInfoExtendMapper" >
  <resultMap id="BaseResultMap" type="com.pope.advert.entity.sjgl.extend.HzxxInfoExtend"
  extends="com.pope.advert.dao.sjgl.HzxxInfoMapper.BaseResultMap" >
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pope.advert.entity.sjgl.extend.HzxxInfoExtend" extends="com.pope.advert.dao.sjgl.HzxxInfoMapper.ResultMapWithBLOBs" >
   
  </resultMap>
  <sql id="Base_Column_List" >
    t_advert_sjgl_hzxx.WID, t_advert_sjgl_hzxx.TITLE, 
    t_advert_sjgl_hzxx.KSSJ, t_advert_sjgl_hzxx.JSSJ, 
    t_advert_sjgl_hzxx.IMGID, t_advert_sjgl_hzxx.ZTNR, 
    t_advert_sjgl_hzxx.MTFL,
     t_advert_sjgl_hzxx.CJSJ, t_advert_sjgl_hzxx.YHID, t_advert_sjgl_hzxx.XGSJ
     ,t_advert_sjgl_hzxx.SHZT, t_advert_sjgl_hzxx.SHSJ
  </sql>
  <sql id="Blob_Column_List" >
    t_advert_sjgl_hzxx.CONTENT
  </sql>
   <sql id="sqlWhere">
  	<if test='query!=null'>
  		<if test='query.wid!=null and query.wid!=""'>
  			AND t_advert_sjgl_hzxx.WID=#{query.wid,jdbcType=VARCHAR}
  		</if>
  		<if test='query.title!=null and query.title!=""'>
  			AND t_advert_sjgl_hzxx.TITLE like concat('%',#{query.title,jdbcType=VARCHAR},'%')
  		</if>
  		<if test='query.kssj!=null and query.kssj!=""'>
  			AND t_advert_sjgl_hzxx.KSSJ=#{query.kssj,jdbcType=VARCHAR}
  		</if>
  		<if test='query.jssj!=null and query.jssj!=""'>
  			AND t_advert_sjgl_hzxx.jssj=#{query.jssj,jdbcType=VARCHAR}
  		</if>
  		<if test='query.mtfl!=null and query.mtfl!=""'>
  			AND t_advert_sjgl_hzxx.mtfl=#{query.mtfl,jdbcType=VARCHAR}
  		</if>
  		<if test='query.yhid!=null and query.yhid!=""'>
  			AND t_advert_sjgl_hzxx.yhid=#{query.yhid,jdbcType=VARCHAR}
  		</if>
  		<if test='query.shzt!=null and query.shzt!=""'>
  			AND t_advert_sjgl_hzxx.shzt=#{query.shzt,jdbcType=VARCHAR}
  		</if>
  		<if test='query.companyName!=null and query.companyName!=""'>
  			AND t_advert_yhjbxx_company.name like concat('%',#{query.companyName,jdbcType=VARCHAR},'%')
  		</if>
  	</if>
  </sql>
  <sql id="sqlOrder">
  	order by 
  	<choose>
  		<when test="orderBy!=null and orderBy.size>0">
  			<foreach collection="orderBy" item="item" open=" " close=" " separator=",">
  				${item}
  			</foreach>
  		</when>
  		<otherwise>
  			t_advert_sjgl_hzxx.xgsj desc
  		</otherwise>
  	</choose>
  	<if test='orderBy!=null'>
  	</if>
  </sql>
  <select id="selectDisplayByCondition" resultMap="BaseResultMap"
  parameterType="com.pope.advert.entity.dto.QueryCondition">
  		SELECT 
  		<include refid="Base_Column_List"/>
  		<if test='query.needCompanyInfo!=null and query.needCompanyInfo==true'>
  			,t_advert_yhjbxx_company.NAME AS companyName
  		</if>
  		,t_advert_sjzd_sjgl_shzt.lbmc as shztDisplay
  		FROM t_advert_sjgl_hzxx
  		<if test='query.needCompanyInfo!=null and query.needCompanyInfo==true'>
  			LEFT JOIN t_advert_yhjbxx_company on t_advert_yhjbxx_company.wid=t_advert_sjgl_hzxx.yhid
  		</if>
  		LEFT JOIN t_advert_sjzd_sjgl_shzt ON t_advert_sjzd_sjgl_shzt.LBDM=t_advert_sjgl_hzxx.SHZT
  		<where>
  			<include refid="sqlWhere"></include>
  		</where>
  		<include refid="sqlOrder"/>
  </select>
</mapper>