<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.advert.dao.gggl.DszyZZInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pope.advert.entity.gggl.DszyZzInfo" >
    <id column="wid" property="wid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sspd_bm" property="sspdBm" jdbcType="VARCHAR" />
    <result column="sslm_bm" property="sslmBm" jdbcType="VARCHAR" />
    <result column="bcpc" property="bcpc" jdbcType="INTEGER" />
    <result column="ggjg_bm" property="ggjgBm" jdbcType="VARCHAR" />
    <result column="ggjg_money" property="ggjgMoney" jdbcType="DECIMAL" />
     <result column="DSZY_ID" property="dszyId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    wid, name, sspd_bm, sslm_bm, bcpc, ggjg_bm, ggjg_money, DSZY_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_advert_gggl_dszy_zz
    where wid = #{wid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_advert_gggl_dszy_zz
    where wid = #{wid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pope.advert.entity.gggl.DszyZzInfo" >
    insert into t_advert_gggl_dszy_zz (wid, name, sspd_bm, 
      sslm_bm, bcpc, ggjg_bm, 
      ggjg_money)
    values (#{wid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sspdBm,jdbcType=VARCHAR}, 
      #{sslmBm,jdbcType=VARCHAR}, #{bcpc,jdbcType=INTEGER}, #{ggjgBm,jdbcType=VARCHAR}, 
      #{ggjgMoney,jdbcType=DECIMAL}, #{dszyId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pope.advert.entity.gggl.DszyZzInfo" >
    insert into t_advert_gggl_dszy_zz
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        wid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sspdBm != null" >
        sspd_bm,
      </if>
      <if test="sslmBm != null" >
        sslm_bm,
      </if>
      <if test="bcpc != null" >
        bcpc,
      </if>
      <if test="ggjgBm != null" >
        ggjg_bm,
      </if>
      <if test="ggjgMoney != null" >
        ggjg_money,
      </if>
      <if test="dszyId != null" >
        DSZY_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sspdBm != null" >
        #{sspdBm,jdbcType=VARCHAR},
      </if>
      <if test="sslmBm != null" >
        #{sslmBm,jdbcType=VARCHAR},
      </if>
      <if test="bcpc != null" >
        #{bcpc,jdbcType=INTEGER},
      </if>
      <if test="ggjgBm != null" >
        #{ggjgBm,jdbcType=VARCHAR},
      </if>
      <if test="ggjgMoney != null" >
        #{ggjgMoney,jdbcType=DECIMAL},
      </if>
        <if test="dszyId != null" >
        #{dszyId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pope.advert.entity.gggl.DszyZzInfo" >
    update t_advert_gggl_dszy_zz
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sspdBm != null" >
        sspd_bm = #{sspdBm,jdbcType=VARCHAR},
      </if>
      <if test="sslmBm != null" >
        sslm_bm = #{sslmBm,jdbcType=VARCHAR},
      </if>
      <if test="bcpc != null" >
        bcpc = #{bcpc,jdbcType=INTEGER},
      </if>
      <if test="ggjgBm != null" >
        ggjg_bm = #{ggjgBm,jdbcType=VARCHAR},
      </if>
      <if test="ggjgMoney != null" >
        ggjg_money = #{ggjgMoney,jdbcType=DECIMAL},
      </if>
         <if test="dszyId != null" >
        DSZY_ID = #{dszyId,jdbcType=VARCHAR},
      </if>
    </set>
    where wid = #{wid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pope.advert.entity.gggl.DszyZzInfo" >
    update t_advert_gggl_dszy_zz
    set name = #{name,jdbcType=VARCHAR},
      sspd_bm = #{sspdBm,jdbcType=VARCHAR},
      sslm_bm = #{sslmBm,jdbcType=VARCHAR},
      bcpc = #{bcpc,jdbcType=INTEGER},
      ggjg_bm = #{ggjgBm,jdbcType=VARCHAR},
      ggjg_money = #{ggjgMoney,jdbcType=DECIMAL},
      DSZY_ID = #{dszyId,jdbcType=VARCHAR}
    where wid = #{wid,jdbcType=VARCHAR}
  </update>
</mapper>