<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pope.advert.dao.gggl.bzzy.extend.BzzyGsygInfoExtendMapper" >
  <resultMap id="BaseResultMap" type="com.pope.advert.entity.gggl.bzzy.extend.BzzyGsygInfoExtend" 
  extends="com.pope.advert.dao.gggl.bzzy.BzzyGsygInfoMapper.BaseResultMap">
  </resultMap>
  <sql id="Base_Column_List" >
    t_advert_gggl_bzzy_gsyg.WID, t_advert_gggl_bzzy_gsyg.NAME, 
    t_advert_gggl_bzzy_gsyg.ZK, t_advert_gggl_bzzy_gsyg.BZZY_ID
  </sql>
  <sql id="sqlWhere">
		<if test='query!=null'>
			<if test='query.wid!=null and query.wid!=""'>
				AND t_advert_gggl_bzzy_gsyg.WID=#{query.wid,jdbcType=VARCHAR}
			</if>
			<if test='query.bzzyId!=null and query.bzzyId!=""'>
				AND t_advert_gggl_bzzy_gsyg.BZZY_ID=#{query.bzzyId,jdbcType=VARCHAR}
			</if>
		</if>
	</sql>
	<select id="selectByCondition" resultMap="BaseResultMap"
		parameterType="com.pope.advert.entity.dto.QueryCondition">
		select
		<include refid="Base_Column_List" />
		from t_advert_gggl_bzzy_gsyg
		<where>
			<include refid="sqlWhere" />
		</where>
	</select>
	<select id="selectDisplayByCondition" resultMap="BaseResultMap" parameterType="com.pope.advert.entity.dto.QueryCondition">
		select
		<include refid="Base_Column_List" />
		from t_advert_gggl_bzzy_gsyg
		<where>
			<include refid="sqlWhere" />
		</where>
	</select>
	<delete id="deleteByBzzyId">
		DELETE FROM t_advert_gggl_bzzy_gsyg WHERE BZZY_ID=#{bzzyId,jdbcType=VARCHAR}
	</delete>
</mapper>